# ===============================
# Python cache
# ===============================
__pycache__/
*.pyc
*.pyo

# ===============================
# Virtual Environment
# ===============================
venv/
.env/

# ===============================
# Dataset & Training Output (YOLO)
# ===============================
dataset/
datasets/
runs/
videos/
results/

# ===============================
# Model weights (training only)
# ===============================
*.onnx
*.engine

# ===============================
# Streamlit cache & config
# ===============================
.streamlit/
.streamlit/cache/

# ===============================
# IDE / OS
# ===============================
.vscode/
.idea/
.DS_Store
Thumbs.db

# ===============================
# Logs
# ===============================
*.log
